* {
  font-size: 14px;
  box-sizing: border-box;
}

.sidebar-menu-top {
  display: block;
}

body {
  font-size: 14px;
}

h2 {
  font-size: 30px;
}

footer {
  background-color: #232323;
  color: white;
  padding-bottom: 1em;
}

.content-wrapper {
  color: wheat;
  background-color: #353434;
}

.tm-hr-container {
  padding-top: 12px;
}

.tm-popular-item-description {
  background-color: #212121ad;
}

.order-now-link {
  line-height: normal;
}

.tm-side-menu li a {
  line-height: 20.3px;
}

.input-form {
  height: 34px !important;
  border: 2px solid #c79c60;
  border-radius: 10px !important;
  margin-bottom: 10px;
  font-size: 14px;
}

#icon-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 50px;
}

.menu-content {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-column-gap: 20px;
}

html {
  background-color: #232323;
}

.tm-top-header {
  position: relative;
}

.login-form {
  position: absolute;
  right: 20px;
  top: 23px;
}

.login-form a {
  font-size: 16px;
}

.page-link {
  color: white;
  background-color: #302f2f;
  padding: 1rem 0.8em;
}

.page-item.active .page-link {
  background-color: #676869;
  border-color: #fff;
}

.page-item.disabled .page-link {
  color: white;
  background-color: #302f2f;
  border-color: #b9c3ce;
}

.page-link:hover {
  color: #353434;
}
